@import "./reset.css";

:root {
    --app-bg-dark: #1a1d28;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-blue: #3c57ff;
    --app-purple: #833cff;
    --app-orange: #ff833c;
}

body {
    background-color: var(--app-bg-dark);
}

header {
    width: auto;
    height: 56px;
    display: flex;
    background-color: #3a71f2;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

.nav-logo {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    padding-right: 200px;
}

.nav-links li {
    display: inline;
}

.nav-links li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px 0 20px;
}

.nav-avatar {
    padding-left: 200px;
    position: relative;
}

.fa-user-tie {
    font-size: 20px;
    color: white;
    margin-top: 95px;
}

.post-input{
    background-color: #24272d;
    border-radius: 10px 10px 0 0;
}

textarea {
    width: 500px;
    height: 100px;
    resize: none;
    border-radius: 10px;
    background-color: #24272d;
    color: #fff;
    font-size: 14px;
    padding: 10px 10px 0 10px;
}

.postarea {
    background-color: #24272d;
    align-content: space-between;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px;
}


section {
padding: 40px 600px;
height:calc(100vh - 56px)
}

input[type="button"] {
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    text-align: center;
    background-color: #3a71f2;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.2px;
    transition: background-color 0.25s ease-in-out;
    margin-left: 10px;
}


.fa-image{
    color: #fff;
}

.post-content{
    width: 500px;
    background-color: #24272d;
    border-radius: 10px;
    margin-top: 10px;
}

.post-content div {
    margin-top: 10px;
    width: 100%;
    background-color: #fff;
    color: #000;
}

.userinfo {
    background-color: #3acdf2;
    visibility: hidden;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
}

.uploadImg {
    opacity:0;
}

.fa-image{
    text-align: center;
    margin-left: -270px ;
}

.uploadpicture {
    opacity: 0;
}
