@import "./reset.css";

:root {
    --app-bg-dark: #1a1d28;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-blue: #3c57ff;
    --app-purple: #833cff;
    --app-orange: #ff833c;
}


body {
    background-color: var(--app-bg-dark);
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
    height:calc(100vh - 56px);
}

section {
padding: 100px 500px;
}

.boxtitle {
    width: 100%;
    margin-left: 230px;
}

h2 {
    color: #fff;
    margin-bottom: 20px;
}

.contacts-info {
    display: flex;
    gap: 20px;
}

.contacts-content{
    display: flex;
    gap:20px;
}

input[type="text"] {
    width: 160px;
    height: 50px;
    text-align: left;
    border: 1px solid var(--app-blue);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    transition: all 0.25s ease-in-out;
    color: #000;
  }

  input[type="email"] {
    width: 160px;
    height: 50px;
    text-align: left;
    border: 1px solid var(--app-blue);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    transition: all 0.25s ease-in-out;
    color: #000;
  }

input[type="button"] {
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    text-align: center;
    background-color: #33ab4e;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.2px;
    transition: background-color 0.25s ease-in-out;
}

.contactsbox {
    display: grid;
    width: 670px; 
    height: 450px;
    margin-top: 20px;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(10,80px);
    gap:10px;
}

.contactsbox div {
    color: #fff;
    background-color: #33ab4e;
}

.savebtn {
    display: flex;
    justify-content: end;
}

.savecontacts{
    width: 100px;
    height: 100px;
    background-color: #833cff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    margin-right: 20px;
}

.contacts-content-info {
    justify-content: center;
}